@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* max width 1023 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #000; */
    /* color: white; */
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fefefe;
    /* text-align: left; */
}

header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/* brandhub-header__content */
.brandhub-header__content {
    background: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 950;
    height: 87px;

}

/* brandhub solid */
.brandhub-meta-navigation__item--language-switch {
    align-items: center;
    display: flex;
}

.brandhub-language-switcher brandhub-language-switcher-item {
    display: inline-block;
    /* background-color: white; */
}

.brandhub-language-switcher brandhub-language-switcher-item a:hover {
    text-decoration: none;
}

.brandhub-language-switcher .brandhub-languageInd-switcher-item:after {
    content: "";
    background: #957f7f;
    display: inline-block;
    height: 0.8857142857rem;
    width: 1.5px;
    margin-left: 0.9285714286rem;
    margin-right: 0.9285714286rem;
}

.brandhub-language-switcher-item__label-desktop {
    color: #9F9F9F;
    transition: color 0.25s;
}

.randhub-language-switcher-item .english{
    color: #fff;
}

.brandhub-language-switcher-item__label-desktop:hover {
    color: #fff;
}

.brandhub-meta-navigation {
    padding: 0 2.5rem;
    background-color: transparent;
}

.brandhub-meta-navigation__items {
    background: transparent;
    display: flex;
    padding: 20px 5px 15px 5px;
    gap: 3rem;
    font-size: .8571428571rem;
}

.brandhub-meta-navigation__item {
    padding: 1px 4px;
}

.brandhub-meta-navigation__item button {
    border: none;
    background-color: transparent;
    color: #9F9F9F;
    justify-content: flex-start;
    min-height: 1.1em;
    min-width: 3.5714285714rem;
    padding: .0714285714rem .2857142857rem;
    position: relative;
    transition: color .25s;
}

.brandhub-meta-navigation__item button:hover {
    color: white;
    border: none;
}

.brandhub-meta-navigation__item--privacy-notice {
    margin-right: auto;
}

/* brandhub image */
.brandhub-header__link {
    box-sizing: content-box;
    display: grid;
    width: min-content;
    margin: auto;
    grid-template: "logo" 100%/auto;
    /* height: 3rem; */
    justify-content: center;
    justify-self: center;
    overflow: hidden;
    /* padding: 1.0714285714rem; */
    z-index: 5;
    position: relative;
    top: -60px;
}

.brandhub-header__logo {
    display: flex;
    grid-area: logo;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.brandhub-header__link img {
    height: 55px;
    width: auto;
}


/* brandhub blur */
.brandhub-header__blur {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: relative;
    top: -45px;
    backdrop-filter: blur(120px);
    z-index: -2;
}

.mainnavigation_list {
    justify-content: center;
    display: flex;
    color: #fff;
    transition: color 0.25s;
}

.mainnavigationitem {
    /* background-color: aqua; */
    padding: .7142857143rem 2.5714285714rem calc(.71429rem + var(--scroll-progress)*2.14286rem);
}

.mainnavigationitem button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-weight: 400;
    font-size: 14px;
    transition: color 0.5s;
}

.mainnavigation_list:hover{
    color: #828282;
}

.mainnavigationitem button:hover {
    color: #fff;
}